%h1
  Editing Count for Check:
  %em= check.name

= form_with(model: count, url: check_counts_path(check)) do |form|
  - if count.errors.any?
    .error_explanation
      %h2 #{pluralize(count.errors.count, "error")} problems with your signup:
      %ul
        - count.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label(:value)
    = form.number_field(:value, value: check.last_value, required: true)

  .actions
    = form.submit("Update Count")
