.card-list
  - checks.each do |check|
    .card
      .card-main
        .check-values
          %span.check-value= check.last_value
          = icon("fas", "arrow-right", class: "fa-2x")
          %span.check-value.target-value= check.target_value
        %h3
          = icon(*check.icon, class: "fa-lg")
          - options = check.manual? ? {} : { target: :_blank, rel: :noreferrer }
          = link_to(check.url, options) do
            = check.name
            %span.fas.fa-external-link-alt
      .card-actions
        - params = { check: { refresh: true } }
        = link_to(check_path(check, params), method: :patch) do
          = icon("fas", "sync-alt")
        = link_to(edit_check_path(check)) do
          = icon("fas", "pen")
        - data = { confirm: "delete check? #{check.name}" }
        = link_to(check_path(check), method: :delete, data: data) do
          = icon("far", "trash-alt")
