%h1
  Editing Check:
  %em= check.name

= form_with(model: check) do |form|
  - if check.errors.any?
    .error_explanation
      %h2 #{pluralize(check.errors.count, "error")} problems with your signup:
      %ul
        - check.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label(:name)
    = form.text_field(:name, required: true)

  .field
    = form.label(:target)
    = form.number_field(:target, required: true)

  .actions
    = form.submit("Update Check")
