!!!
%html
  %head
    %title YourAppNameHere
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag("application",
                          media: "all",
                          "data-turbolinks-track": "reload")
    = javascript_pack_tag("application", "data-turbolinks-track": "reload")

  %body
    - if current_user.logged_in?
      = current_user.email
      = link_to("Account", account_path(current_user))
      = link_to("Log Out", session_path, method: :delete)
    - else
      = link_to("Log In", new_session_path)
      = link_to("Sign Up", new_account_path)
    .flashes
      - flash.each do |type, message|
        %div{ class: "flash-#{type}" }= message
    = yield
