!!!
%html
  %head
    %title LetMeKnowWhen
    = csrf_meta_tags
    = csp_meta_tag
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }/

    = stylesheet_link_tag("application",
                          media: "all",
                          "data-turbolinks-track": "reload")
    = javascript_pack_tag("application", "data-turbolinks-track": "reload")
    - colors = ["black", "blue", "purple", "orange"]
    = favicon_link_tag("fat-dot-#{colors.sample}.ico")

  %body
    .logo
      = image_tag("LMKW-logo-black.png", height: 100)
      %br
      .title
        Let Me Know When
    .nav
      - if current_user.logged_in?
        = current_user.email
        %br
        = link_to("Account", account_path(current_user))
        = link_to("Log Out", session_path, method: :delete)
      - else
        = link_to("Log In", new_session_path)
        = link_to("Sign Up", new_account_path)
      .flashes
        - flash.each do |type, message|
          %div{ class: "flash-#{type}" }= message
    = yield
